<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akki.mycustomerweatherapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FutureForCastActivity"
            android:label="@string/title_activity_future_for_cast"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".DetailedViewCurrentWeather"
            android:label="@string/title_activity_detailed__view__current__weather"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity
            android:name=".ThreeHourFormatActivity"
            android:label="@string/title_activity_three_hour_format"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>

        <service
            android:name=".GPSService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
